<!DOCTYPE html>
<html lang="en">
<head>
    <!-- HTML Meta Tags -->
    <title>Free Game Is A Free Game</title>
    <meta name="description" content="Get your free games while they're hot">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.fgiafg.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Free Game Is A Free Game">
    <meta property="og:description" content="Get your free games while they're hot">
    <meta property="og:image" content="https://pbs.twimg.com/profile_images/1147961901328084993/AQW7L1gH_400x400.jpg">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="fgiafg.com">
    <meta property="twitter:url" content="https://www.fgiafg.com">
    <meta name="twitter:title" content="Free Game Is A Free Game">
    <meta name="twitter:description" content="Get your free games while they're hot">
    <meta name="twitter:image" content="https://pbs.twimg.com/profile_images/1147961901328084993/AQW7L1gH_400x400.jpg">

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    @await Html.PartialAsync("_Favicons")
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
</head>
<body>
<header>
    <div class="container">
        <nav class="navbar navbar-dark navbar-expand-md sticky-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"></a>
                <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                    <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://discord.gg/dPwK9yvFRx">Discord</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://twitter.com/fgiafg">Twitter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
